* {
	margin: 0;
	padding: 0;
}
body {
	text-align: left;
	font-family: arial;
	font-size: 12px;
}
/* Default resizable box size */

#cat-select1 {
	width:	200px;
}

#cat-select2 { 
	width:	300px;
}

#tab-container {
	padding-top: 20px;
	padding-bottom: 30px;
}

#selector_container {
	padding-top: 40px;
}

.header {
	padding: 10px;
}
.main_title {
	background: #cccccc;
	color: #ffffff;
	padding: 10px;
	font-size: 20px;
	line-height: 20px;
}
.content {
	padding: 10px;
	min-height: 100px;
}
.label_div {
	width: 120px;
	float: left;
	line-height: 28px;
}
.input_container {
	padding-top: 40px;

}
.input_container input {
	height: 20px;
	width: 200px;
	padding: 3px;
	border: 1px solid #cccccc;
	border-radius: 0;
}
.input_container ul {
	width: 600px;
	border: 1px solid #eaeaea;
	position: absolute;
	z-index: 9;
	background: #f3f3f3;
	list-style: none;
}
.input_container ul li {
	padding-left: 8px;
}
.input_container ul li:hover {
	background: #eaeaea;
}
#question_list{
	display: none;
	margin-top: 40px;
}

#textbox_header{
	padding-left: 12px;
}

.col {
	padding-bottom: 5px;
	padding-top: 5px;
}

body{
	font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;font-size: 12px;background-color: #CCCCCC;
}
.float-clear{
	clear:both;
}
.float-left{
	float:left;
}
/* Variable Box style */

#header div{
	padding: 10px;
	margin: 0px 10px;
}
.col-heading{
	width:150px;
	font-size:16px;
	font-weight:bold;
}